/* 散點圖樣式 */
figure#scatter {
  margin: 0 auto; /* 畫布在頁面水平居中 */
  text-align: center;
  flex: 1; /* 讓圖表占據剩餘空間 */
}

.container {
  display: flex;
  padding: 2rem;
  .left-list {
    width: 212px;
  }
}

.list_item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  .list_item_tool {
    display: flex;
    gap: 4px;
  }
}

.divider {
  border-bottom: 1px solid black;
}

.mat-mdc-outlined-button {
  padding: 0 4px;
  height: 32px;
}
